/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes www {
  from {
    left: -14px;
  }
  to {
    left: -18px;
  }
}

.like-icon {
  height: 100%;
}

.like-icon .core {
  fill: transparent;
  transition: 0.3s;
}

.like-icon:hover .core {
  fill: var(--fill-heart);
  transition: 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: 0.3s;
  transition-delay: 0.05s;
}

.like-icon:hover .main-body {
  fill: var(--fill-heart);
}

.like-icon:active .main-body,
.like-icon:active .core {
  fill: red;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: red;
  transition-delay: 0.06s;
  transition: 0.3s;
}

.like-icon.is-liked .contour {
  fill: red;
}

.like-icon.is-liked .heart {
  animation: scale-hear ease-in 0.3s;
}

@keyframes scale-hear {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

.like-icon.is-liked .sparks {
  animation: xxx ease-in 0.3s;
  animation-delay: 0.5s;
}

@keyframes xxx {
  from {
    fill: red;
  }
  to {
    fill: transparent;
  }
}
